// 自定义 Vxe Table 样式

.vxe-grid {
  // 表单
  &--form-wrapper {
    .vxe-form {
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }

  // 工具栏
  // &--toolbar-wrapper {
  //   .vxe-toolbar {
  //     padding: 8px;
  //   }
  // }

  // 分页
  &--pager-wrapper {
    .vxe-pager {
      height: auto;
      padding: 8px 0;

      &--wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        // 参考 Bootstrap 的响应式设计 WIDTH = 768
        @media screen and (max-width: 768px) {
          .vxe-pager--total,
          .vxe-pager--sizes,
          .vxe-pager--jump,
          .vxe-pager--jump-prev,
          .vxe-pager--jump-next {
            display: none;
          }
        }
      }

      &--total {
        margin-right: auto;
      }
    }
  }
}
